<!-- list of categories  -->
<!-- 
All
Electronics
Computers
Mechanics
Aeronautics
Metallurgy -->
<mat-toolbar style="background-color: rgba(40, 44, 42, 0.576);">
    <mat-chip-list aria-label="Fish selection" style="color:antiquewhite; margin-left: 6px;">
        <mat-chip selected="">All</mat-chip>
        <mat-chip color="accent">Electronics</mat-chip>
        <mat-chip color="primary">Aeronautics</mat-chip>
        <mat-chip>Computers</mat-chip>
        <mat-chip>Metallurgy</mat-chip>
    </mat-chip-list>
</mat-toolbar>